{% load i18n %}

{% block subject %}
{% blocktrans %}Activación de cuenta en {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Está recibiendo este correo porque se necesita finalizar con el proceso de activación en {{ site_name }}.{% endblocktrans %}

{% trans "Por favor presione sobre el siguiente enlace para activar su cuenta:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}

{% trans "Gracias por usas nuestro sitio web!" %}

{% blocktrans %}El equipo de {{ site_name }} {% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>¡Hola! Gracias por elegir Syndeo 🤗</p>
<p>{% blocktrans %}Está recibiendo este correo porque se necesita finalizar con el proceso de activación en {{ site_name }}.{% endblocktrans %}</p>

<p>{% trans "Por favor presione sobre el siguiente enlace para activar su cuenta:" %}</p>
<p><a href="https://syndeoapp.herokuapp.com/#/{{ url|safe }}">Haga click aquí</a></p>
<p>{% trans "¡Gracias por usar nuestro sitio web!" %}</p>

<p>{% blocktrans %} El equipo de {{ site_name }} {% endblocktrans %}</p>



<div id="sig-container" style="margin-top: 15px;padding-top: 6px; border-top: 1px dashed #ddd;">
    <div style="float:left; margin: 2px 5px 5px 0; padding-right: 5px;" id="photoWrapper"> <img
            src="https://i.imgur.com/lSCIn8i.png" width="65px" height="65px" id="sigPhoto"> </div>
    <div style="margin-top:0px; margin-left: 74px;" id="sigDetailsWrapper">
        <p
            style="font-family: Helvetica, sans-serif; font-size: 12px; line-height: 14px; color: #333; margin-top:0; margin-left:0; padding-left:0;">
            <strong><span id="sigName">Equipo de Syndeo</span></strong> <span id="sigTitle"></span><br> <span><a
                    href="mailto:syndeorecovery@gmail.com" id="sigEmail"
                    style="color:#428BCA;">syndeorecovery@gmail.com</a></span> <span id="sigMobile"></span> </p>
        <p style="font-family: Helvetica, sans-serif; font-size: 12px; line-height: 14px; color: rgb(51, 51, 51); margin-top: 0px;"
            id="sigCompanyWrapper"> <strong><span id="sigCompany">DreamTeam™</span></strong><br> <span><a href=""
                    id="sigWebsite" style="color:#428BCA;" rel="nofollow"></a></span> <br> <span id="sigAddress"
                style="font-size: 10px; line-height: 14px; margin: 5px 0; display:block; opacity:0.8;">Villa María,
                Córdoba, Argemtima</span> </p>
        <p style="font-family: Helvetica, sans-serif; font-size: 12px; line-height: 14px; color: #333;"> <span
                id="twitterIcon" style="display: none;"><a href="#"><img
                        src="https://s3.amazonaws.com/rkjha/signature-maker/icons/twitter_circle_color-20.png"
                        width="20px" height="20px"></a></span> <span id="facebookIcon" style="display: none;"><a
                    href="#"><img
                        src="https://s3.amazonaws.com/rkjha/signature-maker/icons/facebook_circle_color-20.png"
                        width="20px" height="20px"></a></span> <span id="gplusIcon" style="display: none;"><a
                    href="#"><img src="https://s3.amazonaws.com/rkjha/signature-maker/icons/google_circle_color-20.png"
                        width="20px" height="20px"></a></span> <span id="linkedinIcon" style="display: none;"><a
                    href="#"><img
                        src="https://s3.amazonaws.com/rkjha/signature-maker/icons/linkedin_circle_color-20.png"
                        width="20px" height="20px"></a></span> <span id="instagramIcon" style="display: none;"><a
                    href="#"><img
                        src="https://s3.amazonaws.com/rkjha/signature-maker/icons/instagram_circle_color-20.png"
                        width="20px" height="20px"></a></span> <span id="dribbleIcon" style="display: none;"><a
                    href="#"><img
                        src="https://s3.amazonaws.com/rkjha/signature-maker/icons/dribbble_circle_color-20.png"
                        width="20px" height="20px"></a></span> <span id="youtubeIcon" style="display: none;"><a
                    href="#"><img src="https://s3.amazonaws.com/rkjha/signature-maker/icons/youtube_circle_color-20.png"
                        width="20px" height="20px"></a></span> <span id="vimeoIcon" style="display: none;"><a
                    href="#"><img src="https://s3.amazonaws.com/rkjha/signature-maker/icons/vimeo_circle_color-20.png"
                        width="20px" height="20px"></a></span> <span id="githubIcon" style="display: none;"><a
                    href="#"><img src="https://s3.amazonaws.com/rkjha/signature-maker/icons/github_circle_black-20.png"
                        width="20px" height="20px"></a></span> <span id="blogIcon" style="display: inline;"><a
                    href="https://syndeoapp.herokuapp.com/#/"><img
                        src="https://s3.amazonaws.com/rkjha/signature-maker/icons/wordpress_circle_color-20.png"
                        width="20px" height="20px"></a></span> <br> <span style="margin-left: 4px;"><a
                    href="https://signature-maker.net/email-signature?utm_source=generatedSig&amp;utm_medium=email&amp;utm_campaign=emailLink"
                    style="opacity:0.4;color:#333;font-size:9px;"></a></span> </p>
    </div>
</div>
{% endblock html_body %}